<div id="logbox">
    <div>
        <div align="center">
            <img src="./assets/img/emprestei_logo.png" alt="" height="150" width="150">
        </div>
        <br/>
        <h1>Por favor, cadastre-se.</h1>
        <br/>
        <div align="center">
            <button (click)="loginWithGoogle()">
              Cadastre-se com Google
            </button>
            <br/><br/>
            <button (click)="loginWithFacebook()" class="loginBtn loginBtn--facebook">
              Cadastre-se com o Facebook
            </button>
        </div>
    </div>
</div>