<div class="card">
    <div class="row-card-padding">
        <div class="col-container">
            <div class="col int-box" align="center">
                <img src="https://github.com/victorminerva/emprestei/blob/develop/app/src/main/res/drawable-hdpi/image_profile_raster.png?raw=true"
                    height="24px" width="24px" alt="" style="padding-right: 10px;">
            </div>

            <div class="col">
                <b>{{loan.favored.name}}</b>
                <p>{{loan.what}}</p>
            </div>

            <div class="col" align="right" *ngIf="loanIsDelayed()">
                <i class="material-icons" style="color:red;">announcement</i>
            </div>

            <div id="eyeId" class="col" align="right" data-toggle="collapse" data-target="#loan-detail">
                <i class="material-icons">remove_red_eye</i>
            </div>
        </div>
    </div>
    <!-- -->
    <div id="loan-detail" class="collapse">
        <div class="col-container">
            <div class="col">Informações</div>
            <div class="col" align="right" style="color: red;" *ngIf="loanIsDelayed()">(Atrasado)</div>
        </div>
        <div class="loan-info-detail">
            <p>
                <i class="material-icons" style="font-size:14px; color: #0C9;">&#xe834;</i>
                {{ loan.whatDescription }}
            </p>
            <p>
                <i class="material-icons" style="font-size:14px; color: #0C9;">&#xe834;</i>
                Devolução em {{ loan.untilWhen.time | date: 'longDate' }}
            </p>
        </div>
    </div>
    <!-- -->
    <div class="col-container">
        <div class="col">
            <button style="text-align: left">
                <img src="https://cdn.onlinewebfonts.com/svg/img_369247.png" height="18px" width="18px" style="float:left;margin-right:0.5em">PRORROGAR
            </button>
        </div>
        <div class="col">
            <button style="text-align: right">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Feedbin-Icon-check.svg/2000px-Feedbin-Icon-check.svg.png"
                    height="18px" width="24px" style="float:right;margin-left:0.5em">DEVOLVIDO
            </button>
        </div>
    </div>
</div>