<div class="card">
    <div class="row-card-padding">
        <div class="col-container">
            <div class="col int-box" align="center">
                <img src="https://github.com/victorminerva/emprestei/blob/develop/app/src/main/res/drawable-hdpi/image_profile_raster.png?raw=true"
                    height="24px" width="24px" alt="" style="padding-right: 10px;">
            </div>

            <div class="col">
                <p>{{loan.favored.name}}</p>
                <p>{{loan.what}}</p>
            </div>

            <div class="col" align="right" *ngIf="loanIsDelayed()">
                <i class="material-icons" style="color:red;">announcement</i>
            </div>

            <div id="eyeId" class="col" align="right" (click)="showOrHideInfoDetail()">
                <i class="material-icons" *ngIf="infoDetailHidden">&#xe417;</i>
                <i class="material-icons" *ngIf="!infoDetailHidden">&#xe8f5;</i>
            </div>
        </div>
    </div>
    <!-- INFO DETAIL -->
    <div id="loan-detail"  *ngIf="!infoDetailHidden">
        <div class="col-container">
            <div class="col">Informações</div>
            <div class="col" align="right" style="color: red;" *ngIf="loanIsDelayed()">(Atrasado)</div>
        </div>
        <div class="loan-info-detail">
            <p>
                <i class="material-icons" style="font-size:14px; color: #0C9;">&#xe834;</i>
                {{ loan.whatDescription }}
            </p>
            <p>
                <i class="material-icons" style="font-size:14px; color: #0C9;">&#xe834;</i>
                Devolução em {{ loan.untilWhen.time | date: 'longDate' }}
            </p>
        </div>
    </div>
    <!-- INFO DETAIL -->
    <div class="col-container">
        <div class="col">
            <button style="text-align: left">
                <i class="fa fa-calendar" style="float:left;margin-right:0.5em"></i>
                <b>PRORROGAR</b>
            </button>
        </div>
        <div class="col">
            <button style="text-align: right; color: grey">
                <i class="fa fa-check" style="float:right;margin-left:0.5em; color: grey"></i> DEVOLVIDO
            </button>
        </div>
    </div>
</div>