.col-container {
  display: table; /* Make the container element behave like a table */
  width: 100%; /* Set full-width to expand the whole page */
}

.col {
  display: table-cell; /* Make elements inside the container behave like table cells */
}

button {
  display: block;
  width: 100%;
  background-color: transparent;
  padding: 5%;
  border: 0;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
}

button:hover {
  background-color: lightgray;
  cursor: pointer;
}

.button:after {
  content: "";
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

div.ext-box {
  display: table;
  width: 100%;
}
div.int-box {
  display: table-cell;
  vertical-align: middle;
}

#loan-detail {
  background-color: silver;
  padding: 15px 15px 20px 15px;
  overflow: hidden;
  transition: height 0.1s;
}

.loan-info-detail {
  margin: 0px 0px 0px 10px;
}
