<nav>
  <span class="title-app">emprestar</span>
</nav>
<div class="all" align="center">
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="descriptionTitle">A Quem...?</span>
        </mat-panel-title>
        <mat-panel-description>
          Para qual amigo você vai emprestar?
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div>
        <img src="https://github.com/victorminerva/emprestei/blob/develop/app/src/main/res/drawable-hdpi/image_profile_raster.png?raw=true"
          height="20%" width="20%" alt="" style="padding-right: 10px;">
      </div>

      <button class="input-btn" (click)="selectFavored()">
        <input disabled [placeholder]="[favored.name]" class="input-with-icon" required>
        <i class="material-icons" style="font-size: 46px; color: silver; vertical-align: middle; cursor: pointer;">keyboard_arrow_right</i>
      </button>


      <div align="center">
        <button class="circleBtn" (click)="nextStep()">
          <span class="material-icons" style="color: #01926e">arrow_downward</span>
        </button>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="descriptionTitle">O Que...?</span>
        </mat-panel-title>
        <mat-panel-description>
          Que tipo de coisa você irá emprestar?
          <mat-icon>all_inclusive</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div align="center">
        <mat-form-field class="example-form-field">
          <mat-select placeholder="Seleciona uma opção">
            <mat-option *ngFor="let thing of things" [value]="thing.value" (click)="thingSelected(thing)">
              {{ thing.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-form-field" *ngIf="phTitleWhat===''?false:true">
          <input matInput type="text" [placeholder]="phTitleWhat" [(ngModel)]="whatDesc" />
          <button mat-button *ngIf="whatDesc" matSuffix mat-icon-button aria-label="Clear" (click)="whatDesc=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div align="center">
        <button class="circleBtn" (click)="nextStep()">
          <span class="material-icons" style="color: #01926e">arrow_downward</span>
        </button>
      </div>

    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="descriptionTitle">Até Quando..?</span>
        </mat-panel-title>
        <mat-panel-description>
          Qual o dia será devolvido?
          <mat-icon>date_range</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div align="center">
        <mat-form-field class="example-form-field">
          <input matInput [matDatepicker]="picker" placeholder="Escolha uma data" [(ngModel)]="untilWhen">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi="true" #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div align="center">
        <button class="circleBtn" (click)="confirmLoan()">
          <span class="material-icons" style="color: #01926e">check</span>
        </button>
      </div>

    </mat-expansion-panel>

  </mat-accordion>
</div>
<!-- Dialog to Retrieve Favored -->
<div class="dialog-ovelay" *ngIf="showListFavoreds">
  <div class="dialog" style="width: 40%;">
    <header>
      <h3> Favorecidos </h3>
      <i class="fa fa-close" (click)="close()"></i>
    </header>
    <div class="search-input">
      <span class="icon">
        <i class="material-icons md-24" style="color: silver; vertical-align: middle;">search</i>
        <input type="search" class="search-input2" placeholder="Pesquisar favorecido" appAutofocus />
        <i class="material-icons md-24" style="color: silver; vertical-align: middle; cursor: pointer;">clear</i>
      </span>
    </div>
    <br>
    <div id="outer-container">
      <div class="favored-card" style="overflow-y: auto; height: 270px">
        <div class="card" *ngFor="let favored of userFavoreds | async">
          <div class="row-card-padding" (click)="favoredSelected(favored)">
            <div class="col-container">
              <div class="col into-card all-card">
                {{favored.name}}
              </div>
              <div class="col all-card">
                {{favored.email}}
              </div>
              <div class="col all-card">
                {{favored.phone}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div align="bottom">
        <div align="right">
          <button mat-fab class="fab">
            <i class="material-icons" style="color: black;">add</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>