<div class="card">
  <div class="row-card-padding">
    <div class="col-container">
      <div class="col int-box" align="center">
        <img src="https://github.com/victorminerva/emprestei/blob/develop/app/src/main/res/drawable-hdpi/image_profile_raster.png?raw=true"
          height="24px" width="24px" alt="" style="padding-right: 10px;">
      </div>

      <div class="col">
        <p>{{loan.whatDescription}}</p>
      </div>

      <div id="eyeId" class="col" align="right" (click)="showOrHideInfoDetail()">
        <i class="material-icons" *ngIf="infoDetailHidden">&#xe417;</i>
        <i class="material-icons" *ngIf="!infoDetailHidden">&#xe8f5;</i>
      </div>
    </div>
  </div>
  <!-- INFO DETAIL -->
  <div id="borrowed-detail" *ngIf="!infoDetailHidden">
    <div>
      Informações
    </div>
    <div class="borrowed-info-detail">
      <p>
        <i class="material-icons" style="font-size:14px; color: #0C9;">&#xe834;</i>
        Categoria: {{ loan.what }}
      </p>
      <p>
        <i class="material-icons" style="font-size:14px; color: #0C9;">&#xe834;</i>
        Emprestado por {{ loan.favored.name }}
      </p>
      <p>
        <i class="material-icons" style="font-size:14px; color: #0C9;">&#xe834;</i>
        Devolução em {{ loan.untilWhen.time | date: 'longDate' }}
      </p>
    </div>
  </div>
  <!-- INFO DETAIL -->
  <!-- LOAN IS DELAYED? -->
  <div class="col-container" *ngIf="loanIsDelayed()" style="background-color: red;">
    <div id="text-borrowed" style="display: table-cell; vertical-align: middle;">
      ATRASADO
    </div>

    <div class="col" align="right">
      <i class="material-icons" style="color:white; margin: 5px 10px 0px 5px">announcement</i>
    </div>
  </div>
  <div class="col-container" *ngIf="loan.returned" style="background-color: green;">
    <div id="text-borrowed" style="display: table-cell; vertical-align: middle;">
      DEVOLVIDO
    </div>

    <div class="col" align="right">
      <i class="material-icons" style="color:white;">&#xe5ca;</i>
    </div>
  </div>

  <div class="col-container" *ngIf="!loan.returned && !loanIsDelayed()">
    <div style="color: gray; text-align: center; font-weight: bold;">
      PENDENTE
    </div>

    <div class="col" align="right" >
      <i class="fa fa-hourglass-half" style="color: gray; margin: 10px"></i>
    </div>
  </div>
</div>