<div *ngIf="!(authService.user | async)">
    Você não está logado!
</div>
<div *ngIf="(authService.user | async)">
    <app-header></app-header>
    
    <button (click)="logout()">Logout</button>

    <div class="row">
        <div class="column card">
            <app-loans title="Empr&eacute;stimos"></app-loans>
        </div>
        <div class="column card">
            <app-loans title="Recentes"></app-loans>
        </div>
        <div class="column card">
            <app-borrowed></app-borrowed>
        </div>
    </div>
</div>